h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

nav {
    padding-top: 0;
    text-align: left;
    width: 100%;
}

.nav_link {
    margin-left: 20px;
    color:rgb(14, 13, 13);
    font-size: 30px;
    font-weight: bold;
}

.nav_link:hover {
    color: #fff;
    text-decoration: underline
}
p {
    font-size: 15pt;
    margin-left: 8em;
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 2rem;
}

.mainPanel {
    width: 100%;
    margin: auto;
    background-color: #0decec;
    padding: 2rem;
}

body {
    background-color: #1313c2;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

section {
    width: 600px;
    margin: 2em;
    background-color: #fdfdff;
    border-radius: 0.5em;
    border-color: #38488f;
    border-style: solid;
    transition: transform 1s linear;
}
section:hover {
    transform: scale(1.1);
}
section.s {
    margin-left: 10%;
}
section.m {
    margin-left: 20%;
}
section.l {
    margin-left: 40%;
}

li {
    font-size: 20px;
}
li.strong {
    font-weight: bold;
}
footer {
    width: 100%;
    margin: auto;
    background-color: #0decec;
    text-align: center;
}
img {
    width: 64px;
    padding: auto;
    margin: auto;
    align-items: center;
}
.title::first-letter {
    color: red;
}
